<div class="container-card">
  <div class="card-img-top">
    <img src="{{sprites.front_default}}" alt="{{name}}">
  </div>
  <div class="card-body">
    <h2 class="title">{{species.name}}</h2>
    <p class="weight">Weight: {{weight}}</p>
    <p class="height">Height: {{height}}</p>
  </div> 
</div>
